*{
  margin: 0px;
  padding: 0px;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 90, 202);
}

main{
  height: auto;
  width: 400px;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px black;

}


.Screen{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
  margin: 25px;
}

.Screen img{
  border-radius: 50%;
}

button{
  background-color: black;
  color: white;
  height: 40px;
  border-radius: 20px;
  width: 150px;
}

rt{
  font-size: 20px;
}

ruby p {
  font-size: 15px;
  color: gray;
  text-align: center;
}
